<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <!--<bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IPCDmisService" receiveTimeout="12:00:00" sendTimeout="12:00:00"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:6666/PcdmisService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IPCDmisService" contract="PcdmisServiceReference.IPCDmisService"
          name="NetTcpBinding_IPCDmisService" />
    </client>-->
    <bindings>
      <netTcpBinding>
        <binding name="PcdmisServiceEp" receiveTimeout="12:00:00" sendTimeout="00:10:00"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <!--<binding name="PcdmisFileServiceEp" transferMode="Streamed">
          <security mode="None" />
        </binding>-->
        <binding name="PcdmisFileServiceEp" closeTimeout="00:01:00" receiveTimeout="00:30:00"
                    sendTimeout="00:30:00" transferMode="Streamed" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:6666/PcdmisService" binding="netTcpBinding"
          bindingConfiguration="PcdmisServiceEp" contract="PcdmisServiceReference.IPCDmisService"
          name="PcdmisServiceEp" />
      <endpoint address="net.tcp://localhost:9518/PcdmisFileService"
          binding="netTcpBinding" bindingConfiguration="PcdmisFileServiceEp"
          contract="FileServiceReference.IFileService" name="PcdmisFileServiceEp" />
    </client>
  </system.serviceModel>
</configuration>