<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost/PcdmisServiceUrl" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="NewBinding0" receiveTimeout="12:00:00" sendTimeout="00:10:00">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="Hrsw.XiAnPro.ServerCommonMod.PCDmisService">
                <endpoint address="net.tcp://localhost/PcdmisService" binding="netTcpBinding"
                    bindingConfiguration="NewBinding0" contract="Hrsw.XiAnPro.ServerCommonMod.ontracts.IPCDmisService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>