<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPCDmisService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost/PcdmisService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPCDmisService" contract="PcdmisServiceReference.IPCDmisService"
                name="NetTcpBinding_IPCDmisService" />
        </client>
    </system.serviceModel>-->
    <!--<system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPCDmisService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost/PcdmisService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPCDmisService" contract="PcdmisServiceReference.IPCDmisService"
                name="NetTcpBinding_IPCDmisService" />
        </client>
    </system.serviceModel>-->
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="PcdmisServiceEp" receiveTimeout="12:00:00" sendTimeout="00:10:00"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
                <binding name="PcdmisFileServiceEp" transferMode="Streamed">
                    <security mode="None" />
                </binding>
                <binding name="PcdmisServiceEp1">
                    <security mode="None" />
                </binding>
                <binding name="PcdmisFileServiceEp1" transferMode="Streamed">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:6666/PcdmisService" binding="netTcpBinding"
                bindingConfiguration="PcdmisServiceEp" contract="PcdmisServiceReference.IPCDmisService"
                name="PcdmisServiceEp" />
            <endpoint address="net.tcp://localhost:9518/PcdmisFileService"
                binding="netTcpBinding" bindingConfiguration="PcdmisFileServiceEp"
                contract="FileServiceReference.IFileService" name="PcdmisFileServiceEp" />
            <endpoint address="net.tcp://localhost:6667/CalypsoService" binding="netTcpBinding"
                bindingConfiguration="PcdmisServiceEp1" contract="CalypsoServiceReference.ICalypsoService"
                name="PcdmisServiceEp1" />
            <endpoint address="net.tcp://localhost:9519/CalypsoFileService"
                binding="netTcpBinding" bindingConfiguration="PcdmisFileServiceEp1"
                contract="CalypsoFileServiceReference.IFileService" name="PcdmisFileServiceEp1" />
        </client>
    </system.serviceModel>
</configuration>