<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NewBinding0" receiveTimeout="12:00:00" sendTimeout="00:10:00"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:7777/PcdmisService"
                        httpsGetEnabled="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="Hrsw.XiAnPro.PCDmisService.PCDmisService">
                <endpoint address="net.tcp://localhost:6666/PcdmisService" binding="netTcpBinding"
                    bindingConfiguration="NewBinding0" name="PcdmisServiceEp"
                    contract="Hrsw.XiAnPro.PCDmisServiceContracts.IPCDmisService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>