<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" receiveTimeout="12:00:00" sendTimeout="00:10:00"
            maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NewBinding1" closeTimeout="00:01:00" receiveTimeout="00:30:00"
            sendTimeout="00:30:00" transferMode="Streamed" maxBufferPoolSize="2147483647"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:7779/CalypsoService"
              httpsGetEnabled="false" />
        </behavior>
        <behavior name="NewBehavior1">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:7780/CalypsoFileServiceMetaUrl"
              httpsGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="CalypsoServices.CalypsoService">
        <endpoint address="net.tcp://localhost:6667/CalypsoService" binding="netTcpBinding"
            bindingConfiguration="NewBinding0" name="PcdmisServiceEp"
            contract="CalypsoServiceInterfaces.ICalypsoService" />
      </service>
      <service behaviorConfiguration="NewBehavior1" name="FileServices.FileService">
        <endpoint address="net.tcp://localhost:9519/CalypsoFileService"
            binding="netTcpBinding" bindingConfiguration="NewBinding1"
            name="PcdmisFileServiceEp" contract="Contracts.IFileService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>