<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="Http://localhost/operaservice" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="NewBinding0" receiveTimeout="00:00:05" sendTimeout="00:00:05">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="Service.OperaService">
                <endpoint address="net.tcp://Localhost:666/OperateService" binding="netTcpBinding"
                    bindingConfiguration="NewBinding0" name="OperateServiceEp"
                    contract="Contracts.IServiceContract" />
            </service>
        </services>
    </system.serviceModel>
</configuration>